In [39]:
import torch
from loader.txt_processor import load_config, load_data
import pandas as pd

data_cfg = load_config('./data_cfg.txt')
device = torch.device(data_cfg['device'])

In [40]:
U, C, T, Y, cost, _, cat1_9 = load_data(data_cfg, isTrainSet=False)
context = [U, cat1_9, T, cost, C, Y]
df = pd.DataFrame(context, index=['User', 'feature', 'TimeStamp','Cost', 'Journey', 'Conversion']).T
df.head()

,User,feature,TimeStamp,Cost,Journey,Conversion
0,0,"[[0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, ...","[2, 41449, 216892, 254153]","[0.000182758497011, 0.000147992914218, 0.00014...","[8, 8, 8, 8]",0
1,1,"[[1, 1, 1, 0, 1, 1, 1, 0, 3], [2, 2, 2, 0, 1, ...","[1229449, 1232609, 1241799]","[0.000116502629348, 3.51548414021e-05, 2.49275...","[3, 0, 0]",0
2,2,"[[2, 3, 3, 0, 1, 2, 2, 3, 4], [2, 3, 3, 0, 1, ...","[16, 243005, 246577]","[0.00296268799725, 0.00163291061303, 0.0034143...","[0, 0, 0]",0
3,3,"[[2, 4, 4, 0, 2, 1, 3, 0, 6], [2, 4, 4, 0, 2, ...","[583525, 639469, 682901]","[0.000236726397964, 0.000607416956158, 0.00021...","[4, 4, 4]",0
4,4,"[[3, 3, 5, 1, 1, 0, 2, 0, 4], [3, 3, 5, 1, 1, ...","[36, 12077, 12440]","[0.0007014707958, 0.000779951558355, 0.0006346...","[0, 0, 0]",0

In [41]:
jc = df.iloc[:, -2:]
jc

                Journey Conversion
0          [8, 8, 8, 8]          0
1             [3, 0, 0]          0
2             [0, 0, 0]          0
3             [4, 4, 4]          0
4             [0, 0, 0]          0
...                 ...        ...
164642     [5, 5, 5, 5]          1
164643        [7, 7, 7]          1
164644  [7, 7, 7, 7, 7]          1
164645  [5, 5, 5, 5, 5]          1
164646        [6, 6, 6]          1

[164647 rows x 2 columns]

In [42]:
df_1 = df[(df.Conversion==1)]
count_7 = 0
count_12 = 0
count_same = 0
for i, row in df_1.iterrows():
    if len(row['Journey']) >= 7:
        count_7 += 1
    if len(row['Journey']) >= 12:
        count_12 += 1
    if len(set(row['Journey'])) == 1:
        count_same += 1
print('Conversion Journey analyse')
print(f'No.>7:{count_7}\tNo.>12:{count_12}\tNo.Same Num:{count_same}\tNo.Conversion:{len(df_1)}')

No.>7:3093	No.>12:852	No.Same Num:16400	No.Conversion:16400

In [44]:
df_0 = df[(df.Conversion==0)]
count_7 = 0
count_12 = 0
count_same = 0
for i, row in df_0.iterrows():
    if len(row['Journey']) >= 7:
        count_7 += 1
    if len(row['Journey']) >= 12:
        count_12 += 1
    if len(set(row['Journey'])) == 1:
        count_same += 1
print('NonConversion Journey analyse')
print(f'No.>7:{count_7}\tNo.>12:{count_12}\tNo.Same Num:{count_same}\tNo.NonConversion:{len(df_0)}')

Conversion Journey analyse
No.>7:6472	No.>12:675	No.Same Num:142368	No.NonConversion:148247